<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pool List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Pool Name</th>
        <th>Amount</th>
        <th>Tenor</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userpool of userpoolData">
        <td>{{userpool.poolName}}</td>
        <td>{{userpool.amount}}</td>
        <td>{{userpool.tenorInMonths}}</td>
        <td><button (click)="userpoolDetails(userpool.id)" class="btn btn-danger">Delete</button>
          <button (click)="userpoolDetails(userpool.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
